{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
    <div class="content">
        
        <div class="content-body">
            <h1 class="jumbotron-heading">Comfee</h1>
            <p class="lead text">
                "Be smart, pay less, get more.<br>
                Stay at the best hotels with other members just like you"
            </p>
            <p>
                <a href="{% url 'manage_order' %}" class="btn btn-primary my-2">Manage your own offers</a>
                <a href="{% url 'show_orders' %}" class="btn btn-primary my-2">Explore others offers</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started </h2>
        <p>
            Create a hotel share request -> match with other traveler -> book the hotel
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>Some text</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FAQ</h2>
        <p>Some text</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
